@import "~bootstrap/scss/bootstrap";

body, html {
	height: 100%;
}

#root {
	height: 100%;
}

.App {
	margin: 0 3em;
	height: 100%;
	background-color: white;
}

.App-header {
	text-align: center;
}

.App-nav {
	margin-bottom: 2em;
}

.App-nav a {
	text-decoration: none;
	color: #36459b;
	margin: 0 1em;
}

.App-nav a:hover {
	text-decoration: underline;
}

.App-nav a:first-child {
	margin-left: 0;
}

.App-link {
	color: #61dafb;
}
.profile-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
}
.numHealth {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.pbHealth.green {
	.progress-bar {
	  background: #5cb85c;
	}
}
.pbHealth.yellow {
	.progress-bar {
	  background: #f0ad4e;
	}
}
.mt30 {
	margin-top: 30px;
}